<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Request help</title>
    <% include partials/template/head.ejs %>

    <style>
        body 		{ word-wrap:break-word; }
    </style>
</head>
<body>
<% include partials/template/header.ejs %>
<script>
    setActiveTab("requestHelp")
</script>

<div class="container">

    <div class="page-header text-left">
        <h1><span class="fa fa-anchor"></span>Request Help</h1>
    </div>

    <div class="col-md-8">
        <form role="form" action="/naya2" method="POST">
            <div class="form-group">
                <label for="text">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>

            <div class="form-group">
                <label for="text">Post Language:</label>
                <select class="form-control" name="postLanguage" placeholder="Enter Target language">
                    <option>English</option>,
                    <option>中文</option>,
                    <option>Español</option>,
                    <option>हिन्दी</option>,
                    <option>عَرَبِيّ</option>,
                    <option>Português</option>,
                    <option>বাঙালি</option>,
                    <option>ру́сский</option>,
                    <option>日本语</option>,
                    <option>Français</option>,
                    <option>اُردُو‎</option>,
                    <option>فارسی</option>,
                    <option>Deutsch</option>,
                    <option>한국어</option>,
                    <option>Dutch</option>,
                    <option>Swedish</option>,
                    <option>Nepali</option>

                </select>

            </div>

            <div class="form-group">
                <label for="text">Target Language:</label>
                <select class="form-control" name="targetLanguage" placeholder="Enter Target language">
                    <option>English</option>,
                    <option>中文</option>,
                    <option>Español</option>,
                    <option>हिन्दी</option>,
                    <option>عَرَبِيّ</option>,
                    <option>Português</option>,
                    <option>বাঙালি</option>,
                    <option>ру́сский</option>,
                    <option>日本语</option>,
                    <option>Français</option>,
                    <option>اُردُو‎</option>,
                    <option>فارسی</option>,
                    <option>Deutsch</option>,
                    <option>한국어</option>,
                    <option>Dutch</option>,
                    <option>Swedish</option>,
                    <option>Nepali</option>

                </select>

            </div>

            <div class="form-group">
                <label for="text">Description:</label>

                <textarea rows="5" cols="5" class="form-control" name="description" placeholder="Enter Description"></textarea>
            </div>


            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>



</div>
<% include partials/template/footer.ejs %>
</body>
</html>
