<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Request help</title>
    <% include partials/template/head.ejs %>

    <style>
        body 		{ word-wrap:break-word; }
    </style>
</head>
<body>
<% include partials/template/header.ejs %>
<script>
    setActiveTab("requestHelp")
</script>

<div class="container">

        <br/><br/>

    <div class="col-md-8">
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <form role="form" action="/sendRequest" method="POST">
            <div class="form-group">
                <label for="text">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Describe your request">
            </div>

            <div class="form-group">
                <label for="text">Language to translate from:</label>
                <select class="form-control" name="postLanguage" placeholder="Enter Target language">
                    <% include partials/components/languageList %>
                </select>

            </div>

            <div class="form-group">
                <label for="text">Language to translate to:</label>
                <select class="form-control" name="targetLanguage" placeholder="Enter Target language">
                        <% include partials/components/languageList %>
                </select>

            </div>

            <div class="form-group">
                <label for="text">Text:</label>

                <textarea rows="5" cols="5" class="form-control" name="description" placeholder="Input the text to be translated"></textarea>
            </div>


            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>



</div>
<% include partials/template/footer.ejs %>
</body>
</html>
