<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Username</label>
			<input required="required" type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input required="required" type="password" class="form-control" name="password">
		</div>
		<div class="form-group">
			<label>Native Language</label><br>
            <select class="form-control" name="nativeLanguage">
                <option>English</option>,
                <option>中文</option>,
				<option>Español</option>,
				<option>हिन्दी</option>,
				<option>عَرَبِيّ</option>,
				<option>Português</option>,
				<option>বাঙালি</option>,
				<option>ру́сский</option>,
				<option>日本语</option>,
                <option>Français</option>,
                <option>اُردُو‎</option>,
				<option>فارسی</option>,
				<option>Deutsch</option>,
				<option>한국어</option>
            </select>
        </div>
        <div class="form-group">
            <label>Second Language</label><br>
            <select class="form-control" name="otherLanguage[0]">
				<option>English</option>,
				<option>中文</option>,
				<option>Español</option>,
				<option>हिन्दी</option>,
				<option>عَرَبِيّ</option>,
				<option>Português</option>,
				<option>বাঙালি</option>,
				<option>ру́сский</option>,
				<option>日本语</option>,
				<option>Français</option>,
				<option>اُردُو‎</option>,
				<option>فارسی</option>,
				<option>Deutsch</option>,
				<option>한국어</option>
            </select>
        </div>
		<div class="form-group">
			<!-- todo select multiple languages -->
			<label>Third Language (optional)</label><br>
			<select class="form-control" name="otherLanguage[1]">
                <option value="">None</option>
				<option>English</option>,
				<option>中文</option>,
				<option>Español</option>,
				<option>हिन्दी</option>,
				<option>عَرَبِيّ</option>,
				<option>Português</option>,
				<option>বাঙালি</option>,
				<option>ру́сский</option>,
				<option>日本语</option>,
				<option>Français</option>,
				<option>اُردُو‎</option>,
				<option>فارسی</option>,
				<option>Deutsch</option>,
				<option>한국어</option>
			</select>
		</div>
		<div class="form-group">
			<label>Fourth Language (optional)</label><br>
			<select class="form-control" name="otherLanguage[2]">
                <option value="">None</option>
				<option>English</option>,
				<option>中文</option>,
				<option>Español</option>,
				<option>हिन्दी</option>,
				<option>عَرَبِيّ</option>,
				<option>Português</option>,
				<option>বাঙালি</option>,
				<option>ру́сский</option>,
				<option>日本语</option>,
				<option>Français</option>,
				<option>اُردُو‎</option>,
				<option>فارسی</option>,
				<option>Deutsch</option>,
				<option>한국어</option>
			</select>
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>


</div>
</body>
</html>
