<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>My Home</title>
    <% include partials/template/head.ejs %>

    <style>
        body 		{ word-wrap:break-word; }
    </style>
</head>
<body>
<% include partials/template/header.ejs %>
<script>
    setActiveTab("sorry")
</script>

<div class="container">

    <div class="page-header text-left">
        <h1><span class="fa fa-anchor"></span>Sorry! Not Enough Credits!</h1>
    </div>

    <% include partials/template/footer.ejs %>
</div>
</body>
</html>
