<footer>
 <section class="layout">
  <br> <br><br><br>
   <p class="text-center" style="color: gray">2016 清华大学 - 数据库课  &nbsp &nbsp  Developed by : Hasan Iqbal 汉森 / Thomas Paradis 唐穆</p>
 </section><!-- layout -->
</footer><!-- footer -->