<head>
<style>
    .nav-tabs 		{ padding-right:20px; padding-left:50px;}
    header          {background-color: #246AAD;}
    .navigation       { color: #DDDDDD;}
    .branding {padding-left:40px;padding-top:0px; padding-bottom: 0px;}

    .nav>li>a {
        color: #fff;
    }
    .nav-tabs > li > a:hover{
        color:#0d3340;
    }
</style>
</head>
<header>
  <div class="hero">
    <section class="layout">
      <div class="branding">
        <a href="/">
            <img src="/images/logo.png" height="150" width="150" alt="fanyi-pack">
        </a>
      </div><!-- branding -->
    </section><!-- layout -->
  </div><!-- hero -->

  <div class="navigation">
    <section class="layout">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Ask for Help</a></li>
        <li role="presentation"><a href="#">My Posts</a></li>
        <li class="navbar-right active" role="presentation"><a href="/profile">My Profile</a></li>
      </ul>

    </section><!-- layout -->
  </div><!-- navigation -->
</header>