<option>English</option>,
<option>中文</option>,
<option>Español</option>,
<option>हिन्दी</option>,
<option>عَرَبِيّ</option>,
<option>Português</option>,
<option>বাঙালি</option>,
<option>ру́сский</option>,
<option>日本语</option>,
<option>Français</option>,
<option>اُردُو‎</option>,
<option>فارسی</option>,
<option>Deutsch</option>,
<option>한국어</option>,
<option>Dutch</option>,
<option>Swedish</option>,
<option>Nepali</option>